/*font-family: 'Alegreya Sans', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Vollkorn', serif;
font-family: 'Alegreya', serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Sanchez', serif;

Colors:
grey-blue color: #51617a, or (81,97,122);
orange color: #cc842f;
soft white background color: #f8f8f8;

*/

#loginForm{
  text-align: center;
  font-family: "Vollkorn", serif;
  color: #51617a;

}

button {
  clear: both;
  width: 100px;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  margin-top: 30px;
}
