body {
  height: 1800px;
}

#low_risk {
  display: none;
}

#medium_risk {
  display: none;
}

#high_risk {
  display: none;
}

section h1 {
  color: #51617a;
  font-size: 36px;
  font-family: "Sanchez", serif;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h2 {
  color: #51617a;
  font-size: 30px;
  font-family: "Sanchez", serif;
  margin: 0 auto;
  text-align: center;
}

section h3{
  color: #51617a;
  font-size: 25px;
  font-family: "Sanchez", serif;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

section p {
  color: #51617a;
  text-align: justify;
  width: 500px;
  margin-left: 25%;
  margin-top: 30px;
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;
  padding-bottom: 20px;
}

section ul li a {
  color: #51617a;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 10px;

}

section ul li a:hover {
  color: #cc842f;
}

section ul li a:visited {
  color: #cc842f;
}

section ul li {
  color: #51617a;
  margin: 0 auto;
  padding-top: 10px;
  text-align: left;
  width: 500px;
}

footer {
  position: fixed;
  bottom: 0;
}
/*font-family: 'Alegreya Sans', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Vollkorn', serif;
font-family: 'Alegreya', serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Sanchez', serif;*/
