body {
  height: 750px;
}

input {
  display: inline-block;;
}


button.next {
  width: 110px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

main h2 {
  font-family: "Sanchez", serif;
  font-size: 50px;
  color: #51617a;
}

#submit {
  width: 300px;
  height: 80px;
  padding-left: 25px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

footer {
  clear: both;
}
